body
		{
				background:url('hands.jpg') no-repeat center center fixed;
				background-size:100% auto;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				margin: 0;
				padding: 0;
				font-family: 'Kameron', serif;
		}

.well {
	   background-color: rgba(245, 245, 245, 0.7);
   }

.jumbotron {
	background-color: white;
}

.logo {
	width: 50%;
	height:50%;
}

footer {
	padding: 20px;
   background-color: black;
	 color: white;
}
