body
		{
				background:url('hands.jpg') no-repeat center center fixed;
				background-size:contain;
				font-family: 'Kameron', serif;
		}

ul {
		list-style: none;
}

li {
	margin:10px;
}

.well {
	   background-color: rgba(245, 245, 245, 0.7);
   }

.jumbotron {
	background-color: white;
}

.logo {
	width: 50%;
	height:50%;
}

footer {
	padding: 20px;
   background-color: black;
	 color: white;
}
